<html>
	<head>
		<style type="text/css">
   			#header { 
   				width: 99%;
   				height: 80px;
    			background: #fc0;
    			border: solid 1px black; 
    			padding: 10px;
   			}

   			#table { 	
    			margin-top: 15px;
   			}

   			a {
   				padding: 15px;
   				text-decoration: none;
   				color: #000;
   			}
  		</style>
	</head>

	<header>
		<div id="header">
			<h1>Театральная касса</h1>
		</div>
	</header>

	<body>
		<table id="table" border="1px" align="center">
			<tr>
				<td>
				 	<h3><a href="purchase.html">Купить / вернуть билеты</a></h3>
				</td>
				<td>
					<h3><a href="search.html">Поиск театра по постановке</a></h3>
				</td>
				<td>
					<h3><a href="base_edit.html">(Debug) Редактировать структуры</a></h3>
				</td>
				<td>
					<h3><a href="stats.html">Отчеты</a></h3>
				</td>
			</tr>
		</table>
	</body>
</html>