<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/design.css">
		<script src="../static/scripts.js"></script>
	</head>

	<header>
		<div id="header">
			<h1>Театральная касса</h1>
		</div>
	</header>

	<body>
		<div id="blog">

			<h1>Покупка/возврат билетов</h1>
			<a href="index.html" id="callback">На главную</a>
			<div id="1step">
				<h2>1 шаг</h2>
				<h3>Укажите имя и фамилию заказчика</h3>
				<div id="client">
					<p><input type="text" name="firstname" placeholder="Имя">
					<input type="text" name="secondname" placeholder="Фамилия"></p>
					<button id="to2step">Далее</button>
				</div>
			</div>
			<div id="2step">

			</div>

			<!--<p id="field1">
				<input type="text" name="show1" placeholder="Постановка">
				<input type="text" name="city1" placeholder="Город">
			</p>
			<input type="submit" value="Отправить">
			</form>

			<div id="buttons">
				<button id="add">+</button>
				<button id="delBut">-</button>

				<script>
   					var currentFieldsCount = 1;
		   			
	   			 	add.onclick = function() {
   			 			currentFieldsCount += 1;
	   					document.getElementById("fields").innerHTML += "<p id=\"field"+currentFieldsCount+"\"><input type=\"text\" name=\"show" + currentFieldsCount + "\" placeholder=\"Постановка\"><input type=\"text\" name=\"city"+ currentFieldsCount +"\" placeholder=\"Город\"><select size=\"1\" name=\"theatre"+currentFieldsCount+"\"><option>Театр</option><option id=\"standartTheater"+currentFieldsCount+"\">--Выберете город и постановку--</option></select><select size=\"1\" name=\"ticketType"+currentFieldsCount+"\"><option>Тип билетов</option><option id=\"standartTicket"+currentFieldsCount+"\">--Выберете город и постановку--</option></select><input type=\"text\" name=\"count\" placeholder=\"Кол-во\"></p>";
   					};

   					delBut.onclick = function() {
   						if (currentFieldsCount > 1) {
	   						document.getElementById("field"+ currentFieldsCount).innerHTML = "";
	   						document.getElementById("field"+ currentFieldsCount).remove();
	   						currentFieldsCount -= 1;
	   					}
   					}; 
	   			</script>-->
   			</div>
		</div>
	</body>
</html>