<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/design.css">
		<script src="../static/js/returnTickets.js"></script>
	</head>

	<header>
		<div id="header">
			<h1>Театральная касса</h1>
		</div>
	</header>

	<body>
		<div id="blog">
			<h1>Возврат билетов</h1>
			<a href="index.html" id="callback">На главную</a>

			<div id="1step">
				<h2>1 шаг</h2>
				<h3>Укажите имя, фамилию заказчика и номер заказа</h3>
				<div id="client">
					<p><input type="text" id="firstname" placeholder="Имя">
					<input type="text" id="secondname" placeholder="Фамилия">
					<input type="number" id="purchaseId" placeholder="Номер заказа"></p>
					<button id="to2step">Далее</button>
				</div>
			</div>
			
			<div id="2step">
			</div>
   			</div>
		</div>
	</body>
</html>