<html>
	<head>
    <link rel="stylesheet" type="text/css" href="../static/design.css">
	</head>
	<header>
		<div id="header">
			<h1>Театральная касса</h1>
		</div>

    <div>
    </div>
	</header>

	<body>
		<div id="blog">
			<h1>Поиск билетов в вашем городе.</h1>
			<a href="index.html" id="callback">На главную</a>
			<form action="" method="post">
				<p>
	    			<input type="text" name="city" placeholder="Город">
	    			<input type="text" name="show" placeholder="Постановка">
	    			<input type="submit">
				</p>
				<div id="result">
					{% if message %}
						<p>{{ message }}</p>
					{% endif %}
				</div>
			</form>
		</div>
	</body>
</html>