<html>
	<head>
    	<link rel="stylesheet" type="text/css" href="../static/css/design.css">
    	<script src="../static/js/search.js"></script>
	</head>
	<header>
		<div id="header">
			<h1>Театральная касса</h1>
		</div>

    <div>
    </div>
	</header>

	<body>
		<div id="blog">
			<h1>Поиск постановок с датой</h1>
			<a href="index.html" id="callback">На главную</a>
			<p>
	    		<input list="search_list" id="search_show" type="text" name="show" placeholder="Постановка" autocomplete="off">
	    		<datalist id="search_list">
	    		</datalist>
	    		<button id="search_submit">Найти</button>
	    		<div id="search_result">
	    		</div>
			</p>
		</div>
	</body>
</html>